DATABASE_URL="postgresql://admin:12345@localhost:5432/mvp-assinatura"

PORT=3000

# JWT
JWT_SECRET="your_jwt_secret_here"

# URL da aplicação frontend
APP_URL="http://localhost:5173"

# Asaas Gateway Integration
ASAAS_API_KEY="your_asaas_api_key_here"
ASAAS_API_URL="https://sandbox.asaas.com/api/v3"
ASAAS_WEBHOOK_TOKEN="your_asaas_webhook_token_here"

#Resend
RESEND_API_KEY="your_resend_api_key_here"
